.container {
  font-family: sans-serif;
  color: #ceced6;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.container a {
  text-decoration: none;
  color: #ceced6;
}

.repoBox {
  width: 100%;
  border-radius: 8px;
  border: 1px solid white
}

.contentContainer {
  padding: .5rem;
}



