.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  width: 50%;
}
